/* src/components/Footer.css */
.footer_ {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  text-align: center;
  padding: 10px 0;
}

.social-icons {
  margin-bottom: 10px;
}

.social-icons a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
}

.social-icons a:hover {
  color: #007bff;
}