.post-content {
  line-height: 1.8;
}

.det-container{
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  font-family: 'vazir';
  font-size: 1rem;
  font-weight: 300;
  color: #333;
  line-height: 1.5;
  text-align: justify;
  background-image: url('https://img.freepik.com/free-vector/abstract-white-bokeh-glowing-lights-background_1017-24049.jpg?w=996&t=st=1723243330~exp=1723243930~hmac=9d11cb89ba6cdb11491e2bf72fc553f94325fd9478e9b1a11965f3d3678f74f9');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  direction: rtl;
}

.det-titel{
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin: 30px 0;
}

.author-info {
  font-size: 0.9rem;
}

.det-img{
  position: relative;
  width: 20% auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}